@media (max-width: 768px) {
	* {
		box-sizing: border-box;
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: 90%;
		margin-left: 5%;
		margin-top:5%;
		margin-bottom:6%;
		padding: 0;
	}
	footer:after {
			content: "Version mobile du site";
			display: block;
			text-align: center;
			font-style: italic;
			color: #777
	;
		}
	header,
	footer {
		--header-footer-height: 5%;
	}
	
	mjx-container {
    font-size: 90%;
  }
}