:root {
  --font-size: 16px;
}

main {
  flex: 1;
}

body {
  background: var(--bg);
  color: var(--text);
  font-size: var(--font-size);
  text-justify: inter-word;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 60%;
  margin-left: 20%;
}

a {
  color: #4F9CF9;
  text-decoration: none;
}

a:hover {
  color: #7AB8FF;
  text-decoration: underline;
}

a:visited {
  color: #A78BFA;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;  /* centers content horizontally */
  align-items: center;       /* centers vertically */

  height: 60px;
  background: var(--bg);
  color: var(--text);
  z-index: 1000;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;  /* centers content horizontally */
  align-items: center;       /* centers vertically */

  height: 60px;
  background: var(--bg);
  color: var(--text);
  z-index: 1000;
}

#main {
float:right;
width:80%;
}

#face {
float:left;
}

[data-theme="dark"] {
  --bg: #0f172a;
  --text: #e5e7eb;
  --accent: #60a5fa;
  --card: #1e293b;
}